// ................................start base..........................................
$color-black:#000;
$color-1:#18120f;
$color-2:#012F3B;
$color-3:#5d5e60;
$color-4:#959fa8;
$color-white:#fff;
$font-sahel: sahel;
$font-nastaliq: Nastaliq;
$font-vazir: vazir;
@font-face {
    font-family: sahel;
    src: url("../fonts/Sahel.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Nastaliq;
    src: url("../fonts/IranNastaliq.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'vazir';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazir-Bold.woff') format('truetype'), url('../fonts/Vazir-Bold.ttf'), url('../fonts/Vazir-Bold.eot');
}

@mixin flexLayout {
    display: flex;
    justify-content: center;
    align-items: center;
}

%fullSpace {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-3;
    background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)), url(../images/309831.jpg) center no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
    direction: rtl;
}

// ...............................end base...................................................
// ...................................satart nav.....................................
.nav {
    font-family: $font-sahel;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: baseline;
    &-search {
        padding-right: 30px;
        // opacity: 30%;
        .search {
            border-radius: 5px;
            width: 550px;
            height: 6vh;
            padding: 20px;
            border: none;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(8px);
        }
    }
    .menu {
        list-style: none;
        &-link {
            text-decoration: none;
            color: $color-white;
            margin-right: 30px;
            &:hover {
                color: $color-2;
            }
        }
    }
}

// ...................................end nav.....................................
// ...................................satart main.....................................
.title {
    font-family: $font-sahel;
    text-align: start;
    margin-top: 100px;
    color: $color-white;
    &-1 {
        opacity: 60%;
    }
    &-btn {
        .btn1 {
            padding-left: 20px;
            .date {
                border-radius: 10px;
                border: none;
                width: 200px;
                height: 44px;
            }
        }
        .btn2 {
            .chose {
                width: 200px;
                height: 45px;
                border: none;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(10px);
                color: $color-white;
                border-radius: 10px;
            }
        }
    }
}

.box {
    font-family: $font-sahel;
    text-align: start;
    margin-top: 50px;
    color: $color-white;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 5px;
    padding-bottom: 20px;
    width: 170px;
    &-title {
        text-align: center;
    }
    &-title>h2 {
        padding-bottom: 15px;
    }
    .title>p {
        opacity: 60%;
        text-align: center;
    }
    .pagenumber {
        position: relative;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        color: #fff;
        opacity: 60%;
    }
    .pagenumber:before {
        content: '';
        position: absolute;
        left: 20%;
        right: 20%;
        top: 50%;
        height: 1px;
        background: #fff;
        transform: rotate(-30deg);
    }
    .pagenumber .current {
        position: absolute;
        text-align: right;
        right: 1.5em;
        top: 0.5em;
    }
    .pagenumber .total {
        position: absolute;
        left: 1.5em;
        bottom: 0.5em;
    }
}

// ...................................end main.....................................
// .......................................start sidbar..............................
.sidebar {
    padding: 20px;
    height: 100vh;
    .brand {
        width: 40px;
        height: 40px;
        color: $color-white;
    }
    &-2 {
        width: 2px;
        height: 35vh;
        color: #fff;
    }
    &-4 {
        .pagenumber {
            position: relative;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            color: #fff;
            opacity: 60%;
        }
        .pagenumber:before {
            content: '';
            position: absolute;
            left: 20%;
            right: 20%;
            top: 50%;
            height: 1px;
            background: #fff;
            transform: rotate(-30deg);
        }
        .pagenumber .current {
            position: absolute;
            text-align: right;
            right: 1.5em;
            top: 0.5em;
        }
        .pagenumber .total {
            position: absolute;
            left: 1.5em;
            bottom: 0.5em;
        }
    }
}

// .......................................end sidbar..............................